head
	title= pkg.name + ' | ' + title
	meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')
	link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
	link(rel='apple-touch-icon' href='/images/icon60.png')
	link(rel='apple-touch-icon' sizes='76x76' href='/images/icon76.png')
	link(rel='apple-touch-icon' sizes='120x120' href='/images/icon120.png')
	link(rel='apple-touch-icon' sizes='152x152' href='/images/icon152.png')

	//- Bootstrap 
	link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
	link(href='/css/flat-ui.css', rel='stylesheet', media='screen')
	link(href='/css/ui.css', rel='stylesheet', media='screen')
	link(href='/css/spectrum.css', rel='stylesheet', media='screen')