doctype html
html
	include ../includes/head
	body
		.container
			button.btn.btn-lg.btn-primary(onclick='launch()') Launch
			button.btn.btn-lg.btn-primary(onclick='pause()') Toggle Pause
			button.btn.btn-lg.btn-danger(onclick='kill()') Kill
	include ../includes/scripts_common
	script.

		function send_cmd(cmd, args) {
			$.post(
				'remote/'+cmd, 
				args || {}, 
				function(result){
					
				}
			);
		}

		function launch() {
			send_cmd('launch');
		}

		function pause() {
			send_cmd('pause');
		}

		function kill() {
			send_cmd('kill');
		}

