doctype html
html
	include ./includes/head
	body
		.container#my_menu
			button.btn.btn-hg.btn-primary.btn-block.btn-embossed(onclick='launch()') Launch
			button.btn.btn-hg.btn-primary.btn-block.btn-embossed(onclick='pause()') Toggle Pause
			button.btn.btn-hg.btn-primary.btn-block.btn-embossed(onclick='config()') Config
			button.btn.btn-hg.btn-danger.btn-block.btn-embossed(onclick='kill()') Kill
			button.btn.btn-hg.btn-primary.btn-block.btn-embossed(onclick='mood()') Mood

		//- Configuration
		.container(style='display:none')#my_conf
			form(action='/save', method='post')#my_conf_form
				for key in Object.keys(my_conf)
					.form-group
						.input-group
							span.input-group-addon #{key}
							input(type='text', value='#{my_conf[key]}', name='#{key}').form-control.input-hg

				button.btn.btn-hg.btn-danger.btn-block.btn-embossed(onclick='save()') Save & Update
				button.btn.btn-hg.btn-warning.btn-block.btn-embossed(onclick='main()') Back

		//- Mood
		.container(style='display:none')#mood
			button.btn.btn-hg.btn-primary.btn-block.btn-embossed(onclick='send_cmd("mood_launch")') Toggle ON/OFF
			button.btn.btn-hg.btn-primary.btn-block.btn-embossed(onclick='send_cmd("mood_color")') Color
			button.btn.btn-hg.btn-warning.btn-block.btn-embossed(onclick='main()') Back

				
			
	include ./includes/scripts_common
	script.

		function send_cmd(cmd, args) {
			$.post(
				'remote/'+cmd, 
				args || {}, 
				function(result){
					
				}
			);
		}

		function launch() {
			send_cmd('launch');
		}

		function pause() {
			send_cmd('pause');
		}

		function mode() {
			send_cmd('mode');
		}

		function kill() {
			send_cmd('kill');
		}

	
		function config() {
			$('#my_conf').show();
			$('#my_menu').hide();
			$('#mood').hide();
		}

		function main() {
			$('#my_conf').hide();
			$('#my_menu').show();
			$('#mood').hide();
		}

		function mood() {
			$('#my_conf').hide();
			$('#my_menu').hide();
			$('#mood').show();
		}

		function save() {
			$('#my_conf_form').submit();
		}

