doctype html
html
	include ./includes/head
	body
		.app-page(data-page='home')
			.app-topbar.dark-blue
				.app-title ambi-tv
			.app-content
				.app-section
					.app-button.teal#btLaunch Launch
					.app-button.red#btKill Kill
					.app-button.teal#btPause Toggle Pause
					.app-button.teal(data-target='config') Config
				.app-section
					.app-button.teal(data-target='mood') Mood Light
		
		.app-page(data-page='config')
			.app-topbar.dark-blue
				.app-button.left(data-back, data-autotitle)
				.app-title config
			.app-content
				.app-section
					form(action='/save', method='post')#my_conf_form
						for key in Object.keys(my_conf)
							b #{key}
							input.app-input.teal(type='text', value='#{my_conf[key]}', name='#{key}')
				.app-section
					.app-button.teal#btSave Save & Update
		
		.app-page(data-page='mood')
			.app-topbar.dark-blue
				.app-button.left(data-back, data-autotitle)
				.app-title mood
			.app-content
				.app-section
					input(type='text')#mood_color
				.app-section
					.app-button.teal#btAllOff Turn Off
				.app-section
					.app-button.teal#btTweenStart Start Tween
					.app-button.red#btTweenStop Stop Tween
					
					//- input(type='range', max=1.0, min=0.0)
		
				
			
	include ./includes/scripts_common

	script.
		
		App.controller('home', function (page) {
			// Setup buttons
			$(page).find('#btLaunch').on('click', function(){
				send_cmd('launch');
			});
			
			$(page).find('#btKill').on('click', function(){
				send_cmd('kill');
			});
			
			$(page).find('#btPause').on('click', function(){
				send_cmd('pause');
			});
			
		});
		
		App.controller('mood', function (page) {
			setupMoodColorPicker($(page).find('#mood_color'));
			$(page).on('appShow', function(){
				var w = $(page).find('#btAllOff').width() - 24;
				$('.sp-picker-container').width(w);
			});
			$(page).find('#btAllOff').on('click', function(){send_cmd('mood_off')});
			$(page).find('#btTweenStart').on('click', function(){send_cmd('mood_color_tween_start')});
			$(page).find('#btTweenStop').on('click', function(){send_cmd('mood_color_tween_stop')});
		});
		
		App.controller('config', function (page) {
			$(page).find('#btSave').on('click', function(){
				var form = $('#my_conf_form');
				$.ajax({
					type: form.attr('method'),
					url: form.attr('action'),
					data: form.serialize(),
					success: function(msg){
						App.back();   
					},
					error: function(){
						//alert("failure");
					}
				});
			})
		});
		
		try {
			App.restore();
		} catch (err) {
			App.load('home');
		}
		
		function setupMoodColorPicker(element) {
			$(element).spectrum({
				flat: true,
				showInput: false,
				showButtons: false,
				move: function (color) {
					
				},
				show: function () {

				},
				beforeShow: function () {

				},
				hide: function (color) {

				}
			})
			.on('dragstop.spectrum', function(e, color) {
				var rgb = color.toRgb();
				send_cmd('mood_color', {rgb:rgb});
			});

		}

		function send_cmd(cmd, args) {
			$.post(
				'remote/'+cmd, 
				args || {}, 
				function(result){
					
				}
			);
		}

		function mode() {
			send_cmd('mode');
		}

		$(function(){
			
		});
